body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
   /* background-color: black;*/
   background-image: url(../img/villanos-dc-2.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   
}

/*
.wrap {
    position: relative;
    width: 100%;
    height: 100%
}
*/
/*
.hero-section, .busqueda {

 position:absolute;
 width: 30%;
 height: 30%;
 left: 13%;
 top: 60%;
}

    */

